<div class="container-fluid" style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-sm-3" style=" padding-top: 15px; padding-bottom: 15px">
            <div class="centered">
                <img src="../../../assets/images/logos/scsmlogo.jpg" class="sports_logo" alt="Logo">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <img src="../../../assets/images/logos/sppulogo.jpg" class="sppu_logo" alt="Logo">
                <p class="spputxt" style="text-align: center;margin: 0;font-size: 10px;">SAVITRIBAI PHULE PUNE
                    UNIVERSITY</p>
                <p class="azs" style="font-weight: bold;font-size: 25px;text-align: center;margin: 0;">Maharashtra State Volleyball Association</p>
                <p style="text-align: center;margin: 0;font-size: 13px;">C/o - A.J.M.V.P.S. Shri. Chhatrapati Shivaji
                    Maharaj
                    College of Engineering, Nepti, Ahmednagar</p>
            </div>
        </div>
        <div class="col-sm-3" style=" padding-top: 15px; padding-bottom: 15px">
            <div class="centered">
                <img src="../../../assets/images/logos/scsmlogo.jpg" class="scsm_logo" alt="Logo">
            </div>
        </div>
    </div>
</div>